@charset "UTF-8";

body {
    background-color: rgb(173, 206, 163);
}
p {
    text-indent: 30px;
}
h1 {
    color: rgb(37, 94, 0);
}
#title {
    text-align: center;
    background-color: rgb(37, 94, 0);
    color: white;
}
.basico {
    color: #58773f;
    font-style: bolder;    

}
.intermediario {
    color: #76773f;
    font-style: bolder;
}
.avancado {
    color: #773f3f;
    font-style: bolder;
}
.destaque {
    background-color: rgba(238, 238, 123, 0.616);
}
h2 {
    color: rgb(13, 80, 13);
    font-family: Arial, Helvetica, sans-serif;
}