@charset "UTF-8";

/* Configurações em pé */

html, body {
    background-image: url(../cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}