
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
body {
    margin: 0px;
    height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
header > h1 {
    margin: 0px;
    font-family: Passion One, sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
    
}
header > p {
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
main > p {
    font-size: 3vw;
    font-family: Sriracha, cursive;
    padding: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#fundo01 {
    position: relative;
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px black;
}
#fundo02 {
    position: relative;
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.432);
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section.imagem > p {
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    font-size: 3vw;
    font-family: Sriracha, cursive;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 5px;
}
footer {
    background-color: black;
    padding: 10px;
}
footer > p {
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}